/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --main-font: "Roboto Mono";
}

/* ARTICLE */
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-colour);
    font-family: var(--main-font);
}

/* HERO HEADER */
#hero-header {
    width: 100%;
    text-align: center;
    background-color: var(--feature-color);
    padding-bottom: 1rem;
}
#hero-header h1 {
    font-family: var(--header-font);
    font-size: 3rem;
}

/* HERO IMAGE */
#hero-img {
    width: 100%;
    text-align: center;
    background-color: var(--feature-color);
}
#hero-img img {
    width: 60vw;
    border: 2px solid var(--text-colour);
    filter: grayscale(0.2);
}

/* MAIN TEXT */
#main-section {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: var(--feature-color);
}

/* BUTTON */
#resume-button {
    width: 100%;
    text-align: center;
    background-color: var(--feature-color);
    padding: 3rem;
}
#resume-button a {
    color: var(--text-colour);
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--text-colour);
}
#resume-button a:hover {
    background-color: lightslategray;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 400px) {
    #hero-img img {
        width: 40vw;
    }
    #main-section {
        padding: 2rem 8rem 0rem 8rem;
    }
}
@media only screen and (min-width: 900px) {
    #hero-img img {
        width: 25vw;
    }
    #main-section {
        padding: 2rem 20rem 0rem 20rem;
    }
}
