/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --header-font-backup: monospace;
    --main-font: "Roboto Mono";
    --main-font-backup: sans-serif;
}

/* WHOLE PAGE FLEXBOX */
article {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header-container {
    flex: 0 1 auto;
}
.main-container {
    flex: 1 1 auto;
    background-color: var(--feature-color);
}
.footer-container {
    flex: 0 1 auto;
}

/* HERO TEXT */
.main-text-container {
    padding: 2rem 10% 0rem 10%;
    text-align: center;
}

/* HOME IMAGE */
.main-img-container {
    text-align: center;
}
.main-img {
    width: 60vw;
    border: 2px solid var(--text-colour);
    box-shadow: 3px 4px black;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    .main-img {
        width: 365px;
    }
    .main-text-container {
        padding: 2rem 15% 0rem 15%;
        text-align: center;
    }
}
@media only screen and (min-width: 1000px) {
    .main-text-container {
        padding: 2rem 20% 0rem 20%;
        text-align: center;
    }
}
