/* ####################################################
                    PAGE SETUP
#################################################### */
/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --header-font-backup: monospace;
    --main-font: "Roboto Mono";
    --main-font-backup: sans-serif;
}

.main-container.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--feature-color);
}

/* ####################################################
            COMPONENT 6 - PROJECT TILES
#################################################### */
.project-tile {
    width: 100%;
    background-color: var(--feature-color);
    padding: 2rem;
    text-align: center;
}
.project-tile-link {
    text-decoration: none;
    color: var(--text-colour);
}
.project-tile-heading {
    padding-bottom: 1rem;
}
.project-tile-card {
    max-width: 320px;
    border: 2px solid var(--text-colour);
    background: var(--background-colour);
    padding: 1rem;
    margin: auto;
    box-shadow: 3px 4px black;
}
.project-tile-card:hover {
    background-color: #e3e2d3;
    box-shadow: 0px 0px black;
}
.project-tile-card:active {
    box-shadow: inset 2px 3px black;
}
.project-tile-img {
    width: 120px;
}

/* ####################################################
                    MEDIA QUERIES
#################################################### */
@media only screen and (min-width: 800px) {
    .project-tile {
        width: 50%;
    }
}
@media only screen and (min-width: 1200px) {
    .project-tile {
        width: calc(100% / 3);
    }
}
