@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Grotesk:wght@600&display=swap');

/* STARTER CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--feature-color); */
}

/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --header-font-backup: monospace;
    --main-font: "Roboto Mono";
    --main-font-backup: sans-serif;
}

/* TEXT STYLING */
p, a {
    font-family: var(--main-font), var(--main-font-backup);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font), var(--header-font-backup);
}


/* NAVBAR SECTION */
.header-container {
    width: 100%;
    background-color: var(--feature-color);
    padding: 2rem;
}
.navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 1rem;
}
.navbar-item {
    color: var(--text-colour);
}

/* HEADINGS */
.heading-container {
    width: 100%;
    background-color: var(--feature-color);
    padding-bottom: 2rem;
}
.heading-primary {
    font-size: 3rem;
    text-align: center;
}

/* BUTTONS */
.button-container {
    width: 100%;
    text-align: center;
    background-color: var(--feature-color);
    padding: 3rem;
}
.button {
    color: var(--text-colour);
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--text-colour);
    box-shadow: 2px 4px black;
}
.button:hover {
    background-color: lightslategray;
    box-shadow: 0px 0px black;
}
.button:active {
    box-shadow: inset 2px 3px black;
    
}

/* FOOTER SECTION */
.footer-container {
    text-align: center;
    padding: 1rem 0rem;
    background-color: var(--background-colour);
    /* margin-top: auto; */
}
.social-links-img {
    width: 50px;
}
.copyright {
    font-size: 0.8rem;
}
