/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --header-font-backup: monospace;
    --main-font: "Roboto Mono";
    --main-font-backup: sans-serif;
}

/* WHOLE PAGE FLEXBOX */
article {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header-container {
    flex: 0 1 auto;
}
.main-container {
    flex: 1 1 auto;
    background-color: var(--feature-color);
}
.footer-container {
    flex: 0 1 auto;
}

/* HERO TEXT */
.hero-text-container {
    padding: 2rem;
    background-color: var(--feature-color);
    text-align: center;
}
.hero-text.primary {
    font-size: 2.5rem;
    font-family: var(--header-font);
}
.hero-text.secondary {
    font-size: 2rem;
    font-family: var(--header-font);
    color: lightslategray;
}

/* HOME IMAGE */
.main-img-container {
    text-align: center;
    background-color: var(--feature-color);
}
.main-img {
    width: 60vw;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    .main-img {
        width: 360px;
    }
    .hero-text.primary {
        font-size: 3rem;
    }
    .hero-text.secondary {
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 1000px) {
    .hero-text.primary {
        font-size: 3.5rem;
    }
    .hero-text.secondary {
        font-size: 2.8rem;
    }
}
