/* ####################################################
                    PAGE SETUP
#################################################### */
/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --header-font-backup: monospace;
    --main-font: "Roboto Mono";
    --main-font-backup: sans-serif;
}
/* WHOLE PAGE FLEXBOX */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header-container {
    flex: 0 1 auto;
}
.main-container {
    flex: 1 1 auto;
    background-color: var(--feature-color);
}
.footer-container {
    flex: 0 1 auto;
}

/* ####################################################
                        MAIN
#################################################### */
/* MAIN CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
}

/* HERO TEXT */
.hero-text-container {
    padding-top: 15vh;
    padding-left: 22vw;
    background-color: var(--feature-color);
    text-align: left;
}

/* ANIMATED HEADING */
.hero-text.primary {
    font-size: 2.5rem;
    /* display: inline; */
    font-family: var(--header-font);
    /* animation */
    animation-name: slide-in-left-primary;
    animation-duration: 2s;
}
@keyframes slide-in-left-primary {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}
.hero-text.secondary {
    font-size: 2rem;
    /* display: inline; */
    font-family: var(--header-font);
    color: white;
    background-color: black;
    padding: 0rem 1rem 0.4rem 1rem;
    /* animation */
    animation-name: slide-in-left-secondary;
    animation-duration: 2s;
    
}
@keyframes slide-in-left-secondary {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

/* ####################################################
                        BUTTON
#################################################### */
.button-container {
    margin-top: auto;
}

/* ####################################################
                    MEDIA QUERIES
#################################################### */
@media only screen and (min-width: 600px) {
    .main-img {
        width: 360px;
    }
    .hero-text.primary {
        font-size: 3rem;
    }
    .hero-text.secondary {
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 1000px) {
    .hero-text.primary {
        font-size: 7rem;
    }
    .hero-text.secondary {
        font-size: 5rem;
    }
}
