/* VARIABLES */
:root {
    /* colors */
    --feature-color: #d8e7ed;
    --background-colour: #f2f1e2;
    --text-colour: #000000;
    /* fonts */
    --header-font: "Space Grotesk";
    --main-font: "Roboto Mono";
}

/* MAIN */
.main-container.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--feature-color);
}
.project-tile {
    width: 100%;
    background-color: var(--feature-color);
    padding: 2rem;
    text-align: center;
}
.project-tile-heading {
    padding-bottom: 1rem;
}
.project-tile-card {
    max-width: 320px;
    border: 2px solid var(--text-colour);
    background: var(--background-colour);
    padding: 1rem;
    margin: auto;
}
.project-link {
    width: 120px;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 800px) {
.project-tile {
    width: 50%;
}
}
@media only screen and (min-width: 1200px) {
.project-tile {
    width: calc(100% / 3);
}
}